/* #affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
    position: fixed;
  } */

.navbar{
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 70%;
  z-index: 9999 !important;
  position: fixed;
}

/* body { padding-top: 70px; } */